* {
    margin: 0;
}

body {
    background-color: #000229;
    display: flex;
}

.side-bar {
    background-color: #273164;
    width: 344px;
    height: 986px;
    position: relative;
}

input[type="search"] {
    border-radius: 35px;
    outline: none;
    width: 663px;
    height: 52px;
    margin: 17px 0 285px;
    font-size: 16px;
}

.main .footer {
    background-color: #0F1241;
    width: calc(100% - 344px);
    height: 396px;
    position: absolute;
}